*.orig
*.orig2
build.bat
cpp/Eigen/
cpp/unsupported/
cpp/analysis_logs/
cpp/test_batch/
cpp/eigen3/
cpp/KataGoData/
cpp/analysis_config_opt.cfg
cpp/CMakeCache.txt
cpp/CMakeFiles/
cpp/*.obj
cpp/*.exe
cpp/*.lib
cpp/*.exp
cpp/nmake*
